<div class="w3-container">
  <br>
  <div class="w3-center">
    <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" routerLink="/">Back</button>
    <button class="w3-btn w3-white w3-border w3-border-green w3-round-large" (click)="callGoogleMap()">Vision</button>
    <h3> {{ vg_full_name }}</h3>
  </div>
  <hr>
  <div class="w3-row">
    <div class="w3-col" style="width:45%">
      <div class="w3-container w3-center w3-red">
        <h3>Datos Capturados</h3>
      </div>
      <table class="w3-table">
        <tr>
          <th>Nombre del Campo</th>
          <th>Valor</th>
        </tr>
        <tr *ngFor="let captured of capturedArray">
          <td>{{ captured.metaData }}</td>
          <td>{{ captured.value }}</td>
        </tr>
      </table>
    </div>
    <div class="w3-col" style="width:10%">
      <div class="w3-container w3-center w3-red">
        <h3>=</h3>
      </div>
      <table class="w3-table">
        <tr>
          <th>$</th>
        </tr>
        <tr *ngFor="let compare of compareArray">
          <td>{{ compare.value }}</td>
        </tr>
      </table>
    </div>
    <div class="w3-col" style="width:45%">
      <div class="w3-container w3-center w3-red">
        <h3>Datos Vision</h3>
      </div>
      <table class="w3-table">
        <tr>
          <th>Nombre del Campo</th>
          <th>Valor</th>
        </tr>
        <tr *ngFor="let vision of visionArray">
          <td>{{ vision.metaData }}</td>
          <td>{{ vision.value }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="w3-container">
  <div class="w3-container w3-center w3-red">
    <h3 *ngIf="!flag_id">Imagen Errónea</h3>
    <h3 *ngIf="flag_id">Imagen Capturada</h3>
  </div>
  <div class="w3-container w3-center">
    <img id="ine" [src]="vg_image_to_show" width="500" height="300" alt="">
    <!-- <canvas id="idDocument" width="550" height="90" style="border:1px solid #d3d3d3;"></canvas>
    <canvas id="name" width="200" height="70" style="border:1px solid #d3d3d3;"></canvas>
    <canvas id="address" width="300" height="80" style="border:1px solid #d3d3d3;"></canvas>
    <canvas id="electoral" width="400" height="100" style="border:1px solid #d3d3d3;"></canvas>
    <canvas id="birthday" width="200" height="70" style="border:1px solid #d3d3d3;"></canvas> -->
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <p>{{ vg_notif_text }}</p>
    </div>
  </div>
</div>