<div class="w3-container">
  <div class="w3-center">
    <h1>CLIENTES</h1>
  </div>
  <hr>

  <table class="w3-table-all w3-hoverable">
    <tr>
      <th>Id</th>
      <th>Nombre Cliente</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
    </tr>
    <tr *ngFor="let person of vg_persons" [routerLink]="['/list-detail',person.imageId]">
      <td>{{ person.imageId }}</td>
      <td>{{ person.capturedFirstName }}</td>
      <td>{{ person.capturedLastName }}</td>
      <td>{{ person.capturedMotherLastName }}</td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <p>{{ vg_notif_text }}</p>
    </div>
  </div>
</div>